@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
}
/* :root {
--h1: 1.5rem;
--h2: 1.2rem;
--Violet: #9237A0;
--grey: #B8B8B8;
--white: #F0F1F6;
--black-light: #2E324B;
--backgroud-black: #302A35;
} */

/* body {
background-color: var(--grey);
} */

img {
  width: 100%;
  height: 100%;
}

a {
color: black;
}