  .headerHome {
    /* background: url("./images/OBJECTS.png") no-repeat center; */
    color: white;
    width: 100%;
    position: relative;
    background: #249781;
    height: 300px;
  }
  
  .welcome {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: absolute;
    top: 50px;
  }

  .welcome > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .welcome > div > p {
    font-size: 15px;
    font-weight: lighter;
  }

  .welcome > div > h1 {
    font-size: 30px;
  }

  .notif {
    background: #4CBFA9;
    height: 70px;
    width: 70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }